<ion-card class="card-main">
    <ion-card class="details" *ngIf="namePokemon !== ''">
        <ion-card-header>
            <ion-card-title>{{namePokemon}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-thumbnail slot="start">
                    <img src={{logo}} alt="Imagem do Pokémon">
                </ion-thumbnail>
            </ion-item>
            <ion-item>
                Habilidades:
                <ion-list>
                    <ion-item *ngFor="let abilitie of abilities">
                        <ion-label>{{abilitie.ability.name}}</ion-label>
                    </ion-item>
                </ion-list>
            </ion-item>
            <ion-item>
                Experiência:&nbsp;&nbsp;&nbsp;&nbsp;
                <ion-label>{{item?.base_experience}}</ion-label>
            </ion-item>
            <ion-item>
                Altura:&nbsp;&nbsp;&nbsp;&nbsp;
                <ion-label>{{item?.height}}</ion-label>
            </ion-item>
            <ion-item>
                Formas:
                <ion-list>
                    <ion-item *ngFor="let form of forms">
                        <ion-label>{{form.name}}</ion-label>
                    </ion-item>
                </ion-list>
            </ion-item>
            <ion-item>
                Espécie:&nbsp;&nbsp;&nbsp;&nbsp;
                <ion-label>{{item?.species?.name}}</ion-label>
            </ion-item>
            <ion-item>
                <button style="margin-top: 1rem; font-weight: bolder; border: white; padding: 0.5rem; border-radius: 0.5rem;" (click)="getReturn()">Voltar</button>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card class="details" *ngIf="namePokemon !== ''">
        <ion-card-content>
            <ion-item *ngIf="locationAreas.length > 0">
                <ion-list>
                    Localização:&nbsp;&nbsp;&nbsp;&nbsp;
                    <ion-item *ngFor="let location of locationAreas">
                        <ion-label style="font-size: smaller;">{{location.location_area.name}}</ion-label>
                    </ion-item>
                </ion-list>
            </ion-item>
            <ion-item>
                Localização não encontrada!!!
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-card>