<ion-card class="card-main">
  <ion-card *ngIf="!isLoading">
    <ion-list>
      <ion-item *ngFor="let i of items">
        <button (click)="getPokemon(i.name)"><ion-label>{{i.name}}</ion-label></button>
      </ion-item>
    </ion-list>
    <ion-card class="pages" *ngIf="!isLoading && isPaginate()">
      <ion-card-content id="text-page">
        mostrando {{paginate.start+1}} à {{currentPage}} de {{countItems}} registros
      </ion-card-content>
      <ion-card class="button-pages"> <button (click)="loadPage('first')" [disabled]="isFirstPage()" type="button"
          class="p-button-text">Primeiro</button>
        <button (click)="loadPage('prev')" [disabled]="isFirstPage()" type="button"
          class="p-button-text">Anterior</button>
        <button (click)="loadPage('next')" [disabled]="isLastPage()" type="button"
          class="p-button-text">Próximo</button>
        <button (click)="loadPage('last')" [disabled]="isLastPage()" type="button"
          class="p-button-text">Último</button> </ion-card>
    </ion-card>
  </ion-card>
  <ion-card class="details" *ngIf="namePokemon !== ''">
    <ion-card-header>
      <ion-card-title>{{namePokemon}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src={{logo}} alt="Imagem do Pokémon">
        </ion-thumbnail>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-card>